@import url('https://fonts.googleapis.com/css?family=Baloo');

body{
    margin: 0;
    paddng: 0;
}

/*=====FORMAT=====*/
.marginTop{
    margin-top: 20px;
}


/*=====TOP SECTION=====*/
#author{
    color: black;
    font-family: 'Baloo', cursive;
    margin-top: 25px;
}

.github{
    font-size: 35px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-decoration: none;
}

.github:hover{
    font-size: 35px;
    text-decoration: none;
    color: black;
    margin-top: 10px;
    text-decoration: none;
}


/*=====WEATHER INFO SECTION=====*/
#city{
    font-family: 'Baloo', cursive;
    font-size: 40px;
    margin-top: 10px;
    color: black;
}

#dateTime{
    color: black;
    font-family: 'Baloo', cursive;
    margin-top: -20px;
}


#weatherIcon{
    width: 180px;
    margin-top: 20px;
}

#weather{
    font-family: 'Baloo', cursive;
    color: black;
    font-size: 50px;
    margin-top: 20px;
}

#main{
    font-family: 'Baloo', cursive;
    color: black;
    margin-top: -30px;

}

.image-icon{
    width: 30px;
}

/*=====BOTTOM SECTION=====*/

#humidity{
    font-family: 'Baloo', cursive;
    color: black; 
}

#humidityValue{
    font-family: 'Baloo', cursive;
    color: black;
    font-size: 18px;
    margin-top: -15px; 
}

#windSpeed{
    font-family: 'Baloo', cursive;
    color: black; 
}

#windSpeedValue{
    font-family: 'Baloo', cursive;
    color: black;
    font-size: 18px;
    margin-top: -15px;  
}


#temperatureUnit{
    font-family: 'Baloo', cursive;
    color: black; 
}

#temperatureUnitValue{
    font-family: 'Baloo', cursive;
    color: black;
    font-size: 18px;
    margin-top: -15px;   
}


/*=====HIDDEN DISPLAY=====*/

#author{
    display: none;
}

#github{
    display: none;

}

#humidity-icon{
    display: none;
}

#windSpeed-icon{
    display: none;
}

#button{
    display: none;
}

